body{
    font-size: 20px;
    
}
#logo {
border-radius: 40px;
}
#header {
display: flex;
flex:1 1 20;
flex-wrap:nowrap;
justify-content: space-between;
}
#header  ul{
    display: flex;
    list-style: none;
    flex:1 1 20;
}
#header  li{
    flex:1 1 20;
    margin-right: 15px;
   font-family:'Bahnschrift';
   font-size: 15.5px;
   font-weight: 400;
   color: rgb(53, 53, 53,0.7);
}
.hide{
    height: 40px;
    width: 40px;
    background-color: #e77ea6;
    display: none;
}

#header .lefty{
    display: flex;
}
/* #header #drdr{
    height: 49px;
    width:85px;
    margin-right: 5px;
} */
#header li.hue{
    font-family:'Wendy LP Std bold' ;
}

#sign{
    color: white;
    height: 40px;;
    width: 80px;
    background-color: #ea4c89;
    border-radius: 8px;
    border: 0;
    font-size: 15px;
    font-weight: 500;
    margin-left: 10px;
    
}
button:hover{
    background-color:#e77ea6;
}
#sear{
    height: 20px;
    width: 20px;
    background-color: rgb(186, 196, 204);
    border-radius: 8px;
    margin-right: 10px;
    margin-top: 10px;
}
#header .righty{
    text-align:center;
    font-family:'Bahnschrift';
    font-size: 15.5px;
    font-weight: 300;
    color: rgb(53, 53, 53,0.7);
    border: 10px, 10px, 0, 0;
}
hr{
    border-color:  rgba(182, 180, 180, 0.1);
}
.tag{
    display: flex;
}
.rest .ff{
    font-family: "Corbel";
    font-size: inherit;
    font-weight: lighter;
}
.main{
    margin: 1px;
}
.main #upper{
    display: flex;
    font-family:'Bahnschrift';
    font-size: 15.5px;
    font-weight: 400;
    max-width: 800px;
    justify-content: center;
    margin: 0 auto;
    flex-shrink: 1;
}
#an{
    width: 45px;
    height: 45px;
    background-image: url(../html/ana.jpeg);
    background-size: contain;
    border-radius: 200px;
    margin:0 10px;
}
#upper #two{
    margin-top: 5px;
}
#less{
    font-weight: 300;
}
#less a{
    text-decoration: none;
    color: #ea4c89;
    
}
#save{
    color: rgb(0, 0, 0);
    height: 40px;;
    width: 60px;
    background-color: rgba(122, 121, 121,0.2);
    border-radius: 8px;
    border: 0;
    font-size: 15px;
    font-weight: 500;
    margin-left: 10px;
}
#upper #three {
    margin-left: 270px;
}
#whole{
    margin-top: 73px;
    display: flex;
    justify-content: space-evenly;
    width: 100%;
    flex-shrink: 1;
}
#whole #banner img{
    justify-content: center;
    border-radius: 10px;
    flex-shrink: 1;
    flex-grow: 1;
    /* height: 100%;
    width: fit-content; */
}
#whole #banner{
    display: flex;
    flex-shrink: 2;
    flex-grow: 1;
}
#but{
    height: 40px;
    width: 40px;
    border-radius: 8px;
    border-width: 1px;
    background-color: white;
    margin: 10px;
    border-color: rgb(109, 109, 109, 0.3);
    margin-left: 18px;
    background-size: cover;
}
.uno #but{
    background: url('chat.jpeg') ;
}
.dos #but{
    background: url("forward.jpeg");
}
.tres #but{
    background: url('info.jpeg') no-repeat;
}
.texts{
    text-align: center;
    margin: 0 auto;
    justify-content: center;
    font-size: 20px;
    font-family: 'Bahnschrift';
    font-weight: 200;
    flex-shrink: inherit;
}
.right_info{
    flex-shrink: 1;
}
.main{
    flex-shrink: 1;
}
.texts a{
    text-decoration: none;
    color:#ea4c89;
}
#pfa{
    font-weight: 500;
    font-size: 120%;
}
#pfii{
    font-size: 70%;
}
#navbar{ min-width: 1100px; }
@media screen and (max-width: 1100px) {
   .right_info , .righty #sign , .righty #sear,.lefty li:not(.hue){
    display:none;
   }
   #whole #banner{
    padding: 10px;
   }
   .hide{
    display:inline;
    background-image: url('menu.png');
   }
   #three{display: block;}
   #three #save,#three #sign{
    height: 40px;
    width: 40px;
    border-radius: 8px;
    border-width: 1px;
    background-color: white;
    /* margin: 10px;
    border-color: rgb(109, 109, 109, 0.3);
    margin-left: 18px;
    background-size: cover; */
   }

  }